[target.wasm32-unknown-unknown]
rustflags = [
    "-C",
    "link-args=-z stack-size=3145728",
    "-C",
    "linker-plugin-lto",
    "-C",
    "opt-level=3",
    "-C",
    "debug-assertions=no",
    "-C",
    "debuginfo=0",
]

[toolchain]
channel = "1.89.0"
profile = "default"
targets = ["wasm32-unknown-unknown"]